<!DOCTYPE html>
<html>

	<head>
		<title>Location Map</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/css/styles.css">

	</head>
	<body>
	<div id="vueMap">
		<h5><strong>Location Search</strong></h5>
		<input type="text" id="iname" placeholder="Input name"/>
		<input type="button" id="look" value="Search">
		<div id="map"></div>
		<pre>
			{{$data}}
		</pre>
	</div>

	<script src="//maps.google.com/maps/api/js?key=AIzaSyCpSOEXuBwSjiCQfMseWutCpPrsoSAfg9g"></script>
	<script src="//unpkg.com/vue@2.1.10/dist/vue.js"></script>
	<script src="js/bundle.js"></script>
	</body>

</html>
